<lasso-page package-path="./browser.json"/>

<include("../../layouts/default")>
  <@title>Home</@title>
  <@body>
    <div id="test">
      This text color should be red if the CSS loaded properly..
    </div>
  </@body>
</include>