<lasso-page/>

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title><include(data.title)/></title>
    <lasso-head/>
</head>
<body>
    <div class="bodyContainer">
        <main id="main">
            <include(data.body)/>
        </main>
        <br/>
    </div>
    <lasso-body/>
</body>
</html>